.auth-container {
    background-image: url('../assets/young-plants-growing-very-large-plant-commercial-greenhouse.jpg'); /* relative or absolute path */
    background-size: cover;      /* scales image to cover the whole section */
    background-position: center; /* centers the image */
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff4a;
    font-family: "Poppins", sans-serif;
}

.auth-card {
  background: rgba(205, 204, 204, 0.567);
  padding: 1.5rem;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.72);
  width: 50%;
  min-width: 370px;
  max-width: 500px;
  text-align: center;
}

.auth-card h2 {
  margin-bottom: 1.5rem;
  color: #333;
}

.auth-card form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.auth-card input {
    width: 80%;
    margin-bottom: 1rem;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    background-color: rgb(255 255 255 / 67%);
}

.auth-card button {
    width: 80%;
    padding: 0.8rem;
    border: none;
    background-color: #4caf50;
    color: white;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

.auth-card button:hover {
  background-color: #43a047;
}

.auth-card p {
  margin-top: 1rem;
  font-size: 0.9rem;
}

.auth-card a {
  color: #499358;
  text-decoration: none;
}

.auth-card a:hover {
  text-decoration: underline;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 20px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
  background: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.auth-form input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 1rem;
}

.auth-form button {
  padding: 10px;
  background: #0066ff;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.auth-form button:hover {
  background: #0050cc;
}

.auth-form button:disabled {
  background: #9bbdfc;
  cursor: not-allowed;
}


@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to { opacity: 1; transform: translateY(0); }
}  